<h1 class="text-3xl font-bold"> Tasks assigned to <%= @family_member.name %></h1>
<br>
<%= link_to "Add Task", new_family_member_task_path %>
<br>
<table class="min-w-full">
  <thead>
    <tr>
      <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left", scope="col">Task</th>
      <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left", scope="col">Status</th>
      <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left", scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> <%= task.description %> </td>
      <td class="text-sm font-light px-6 py-4 whitespace-nowrap <%= task.complete? ? 'text-green-900' : 'text-red-900'%>"> <%= task.status %></td>
      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
        <%=
          button_to 'Mark as complete',
          { action: 'update', id: task.id },
          method: :put,
          params: { task: { status: :complete } }
        %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Main Dashboard', dashboard_index_path %>

<%= paginate @tasks %>
